<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- XML:트리구조(루트 한개) 1.태그 재정의 가능 2.대소문자 구분 3.태그를 열면 닫아야함 -->
  <display-name>chap06</display-name>
  <welcome-file-list> <!-- 제일먼저 보여주는 파일 지정 -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>	
  
  <context-param>
  	<description>로깅 여부</description>	<!-- 로그:프로그램 실행하면서 콘솔에 뜨는 메세지(기록) -->
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <context-param>
  	<description>디버깅 레벨</description>	<!-- 에러메시지(크리티컬레벨), 일반 메시지(인포 레벨), 디버그 메시지 ... -->
  	<param-name>debugLevel</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  <!-- 에러페이지 지정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/errorNullPointer.jsp</location>
  </error-page>
  
</web-app>